body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
body{
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1, h2, img{
    width: 100%;
    color: darkblue;
}
h1{
    text-align: center;
    color: red;
    border: 2px dashed greenyellow;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: pink;
    background-color: rgba(255,192,203, 0.8);
}
.card, .retour{
    width: 70%;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    /* background-color: rgba(87, 129, 23, 0.8); */
    color: darkblue;
    /* color: cyan; */
    display: flex;
    flex-wrap: wrap;
}
article{
    width: 55%;
}
aside{
    width: 40%;
}
span{
    font-weight: bold;
    color: black;
    /* color: red; */
}
small{
    float: right;
}
fieldset{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    /* background-color: rgba(87, 129, 23, 0.8); */
    color: darkblue;
}
.liste{
    width: 50%;
}
.imagesJeux img{
    width: 100%;
    display: none;
}

.liste > fieldset:hover{
    background-color: rgba(255,192,203, 0.8);
}
.formInsert{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
label{
    display: inline-block;
    width: 25%;
}
.form-control{
    width: 70%;
    box-sizing: border-box;
}
.allLigne{
    width: 100%;
}
.PlateformesListing{
    width: 60%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
.checkbox{
    width:33%;
}
.btn{
    width: 50%;
}
.btns{
    margin-top: 20px;
    display: flex;
    width: 100%;
}
@media (max-width:900px){
    .card{
        width: 100%;
    }
}